<p>Anzahl: {{model.length}}</p>

<div class="col-md-offset-9">
  {{#link-to 'recipes.add' class="button"}}
      <span class="glyphicon glyphicon-plus"></span> Neues Rezept hinzufügen
  {{/link-to}}
</div>

<ul class="large-block-grid-3">
  {{#each recipe in model}}
    <li>
      {{#link-to 'recipes.show' recipe class="list-group-item"}}{{recipe.name}}{{/link-to}}
    </li>
  {{/each}}
</ul>