<div class="icon-bar seven-up">
  {{#link-to 'index' class="item"}}<label>Home</label>{{/link-to}}
  {{#link-to 'books' class="item"}}<label>Books</label>{{/link-to}}
  {{#link-to 'movies' class="item"}}<label>Movies</label>{{/link-to}}
  {{#link-to 'recipes' class="item"}}<label>Recipes</label>{{/link-to}}
  {{#link-to 'chat' class="item"}}<label>Chat</label>{{/link-to}}
  {{#link-to 'settings' class="item"}}<label>Settings</label>{{/link-to}}
  {{#if session.isAuthenticated}}
    <a {{ action 'invalidateSession' }} class="item"><label>Logout</label></a>
  {{else}}
    {{#link-to 'login' class="item"}}<label>Login</label>{{/link-to}}
  {{/if}}
</div>
