<div class="icon-bar five-up">
  {{#link-to 'index' class="item"}}Home{{/link-to}}
  {{#link-to 'books' class="item"}}Books{{/link-to}}
  {{#link-to 'movies' class="item"}}Movies{{/link-to}}
  {{#link-to 'chat' class="item"}}Chat{{/link-to}}
  {{#link-to 'settings' class="item"}}Settings{{/link-to}}
</div>